.footer {
    background-color: #000;
    color: #fff;
    padding: 40px 0;
  }
  
  .footer-container {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: stretch; 
    flex-wrap: wrap;
  }
  
  .footer-box {
    background-color: #222;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    border: 2px solid #fff;
    flex: 1; 
    min-width: 200px; 
    box-sizing: border-box;
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    height: 150px; 
  }
  
  .footer h4 {
    margin-bottom: 15px;
    font-size: 18px;
  }
  
  .footer ul {
    list-style: none;
    padding: 0;
  }
  
  .footer li {
    margin-bottom: 5px;
  }
  
  .footer li a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer li a:hover {
    text-decoration: underline;
  }
  
  .footer img {
    max-width: 150px;
    margin-bottom: 10px;
  }
  
  .footer p {
    font-size: 14px;
  }
  
 
  @media (max-width: 768px) {
    .footer-container {
      flex-direction: column;
      align-items: center;
    }
  
    .footer-box {
      width: 80%; 
      height: auto; 
      margin: 10px 0; 
    }
  }
  